@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$font-family-article: "Open Sans", sans-serif;
$font-family-form: "Roboto", sans-serif;
$blue: #1890ff;
$green: #52c41a;
$red: #f5222d;
$background: #ebeef3;
